---
---

@import "{{ site.theme }}";

/* Header */

.page-header {
  @include large {
    padding: 2rem 6rem;
  }

  @include medium {
    padding: 2rem 4rem;
  }
}

/* AnchorJS */
.anchorjs-link {
  transition: all 0.25s linear;
}
.anchorjs-link:hover,
.anchorjs-link:focus {
  text-decoration: none;
}
*:hover > .anchorjs-link {
  margin-left: -1.125em !important;
}
:target {
  background: #ffa;
}
